
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#aboutme">About</a></li>
							<li><a href="#subject">Practice Areas</a></li>
							<li><a href="#blogs"> Client, Public, Blog, and Articles</a></li>
							<li><a href="#contact-me">Contact</a></li>
							<li><a href="#new-client">New Client</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1 style="color:#ffffff;font-family: 'Changa', sans-serif;font-size:4em;text-align:center;">Glavy Law</h1>
							<h3 style="text-align"><i>"Providing personal attention and thoughtful legal service to you, your family, and your business.”</i></h3>
							<%= image_tag("glavyaddress.png", :style => "width: 50%;position: relative;float: right;") %>

							<div class="title-div">
								<%= image_tag("bglavyhome.jpg", :style => "width: 80%;") %>
								<h2 style="color:#ffffff;font-family: 'Changa', sans-serif;">Bernard (Bud) Glavy<h2>
	              <h3 style="color:#ffffff;font-family: 'Changa', sans-serif;">Attorney at Law</h3>
							  <h3 style="color:#ffffff;font-family: 'Changa', sans-serif;"><a href="tel:+12108801777">210-880-1777</a></h3>
							</div>
							</br>
							<a href="#contact-me" class="button primary icon fa-download" style="float:right;">Contact Me</a>
						</div>
					</section>

				<!-- About Me -->
					<section id="aboutme" class="wrapper style2 spotlights" style="color:white;">
						<section>
							<a href="#" class="image"><%= image_tag("bud1.jpg") %></a>
							<div class="content">
								<div class="inner">
									<h2>About</h2>
									<p>After 30 successful years working for someone else, I have started the next chapter in my
											professional career—my own law office. Now, I am available and ready to work for you. My
											mission is to provide you with the personal attention and thoughtful legal service you deserve. I
											am an experienced counselor, investigator, negotiator, and litigator. I have decades of experience
											in employment matters and was awarded certification in Labor and Employment Law in 1996 by
											the Texas Board of Legal Specialization. Besides employment law, I have the necessary
											knowledge and skill to assist you in other Civil Law areas, such as Wills, Probate, and other
											family issues.
									</p>
									<h2>Licenses</h2>
									<ul>
										<li>Supreme Court of Texas</li>
										<li>U.S. District Court for Western District of Texas</li>
										<li>U.S. Court of Appeals for the Fifth Circuit</li>
										<li>U.S. Court of Appeals for the Federal Circuit</li>
									</ul>
									<h2>Professional Associations</h2>
									<ul>
									  <li>State Bar of Texas</li>
									  <li>American Bar Association</li>
									  <li>San Antonio Bar Association</li>
										<li>Texas Bar College</li>
									</ul>
									<h2>Certification</h2>
									<ul>
									  <li>Texas Board of Legal Specialization in Labor and Employment Law</li>
									</ul>
									<%= image_tag("board.jpg", :style => "width: 50%;") %>
								</div>
							</div>
						</section>
					</section>




				<!-- Practice Areas  -->
					<section id="subject" class="wrapper style3 fade-up">
						<div class="inner"style="color:white;">
							<h2>Practice Areas</h2>
							<p>I am prepared to work for you on a variety of civil law issues. Let’s solve your employment matter. Whether your issue concerns FLSA (wage and hour) compliance, separation, severance, noncompetition, executive agreements, handbook reviews, discrimination, accommodation, retaliation issues, FMLA requirements and compliance, harassment claims, and workplace investigations contact me. I provide insightful counseling and, as necessary, experienced representation in administrative proceedings and local courts. I can assist federal sector employees facing adverse actions or experiencing discrimination or retaliation.
							</p>
							<p>
								Contact me regarding other Civil Law issues. Is your estate in proper order? Set an appointment and we can begin preparing an appropriate will and the necessary advanced directives. Together, we can work through the probate process, guardianship needs and issues, and other issues affecting your family. As I have done throughout my career, I am honored to provide legal services to military members, retirees, and their families.
							</p>
							<ul>
							  <li>Wage and Hour</li>
							  <li>Wills, Probate, and Guardianship Issues</li>
							  <li>Separation, Severance, and Noncompetition Agreements</li>
							  <li>Family and Veteran Issues</li>
								<li>Discrimination, Reasonable Accommodation, Retaliation, Harassment</li>
								<li>ADA, FMLA Requirements and Compliance</li>
								<li>Contact Me Today</li>
							</ul>
							<!--
							<div class="features">
								<section>
									<span class="icon major fa-code"></span>
									<h3>Lorem ipsum amet</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon major fa-lock"></span>
									<h3>Aliquam sed nullam</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon major fa-cog"></span>
									<h3>Sed erat ullam corper</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon major fa-desktop"></span>
									<h3>Veroeros quis lorem</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon major fa-chain"></span>
									<h3>Urna quis bibendum</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon major fa-diamond"></span>
									<h3>Aliquam urna dapibus</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
							</div>
							<ul class="actions">
								<li><a href="generic.html" class="button">Learn more</a></li>
							</ul>-->
						</div>
					</section>

					<!-- Blogs -->
						<section id="blogs" class="wrapper style1 fade-up">
							<div class="inner" style="color:white;">

									<h2> Client, Public, Blog, and Articles</h2>
									<h3 style="text-align: center;"> <u>Public/ Client Information </u></h3>
									<ul>
										<li><h4 style="text-align:left"><i><%= link_to "Texas Lawyer's Creed", "https://drive.google.com/file/d/1Eift2pOSMkRbYc6c76ukNPWQJ-eD1QVQ/preview", target: :_blank%></i></h4></li>
										<li><h4 style="text-align:left"><a data-toggle="modal" style="cursor: pointer;" data-target="#whyWill"><i>Why do you need a Will?</i></a></h4>

											<!-- Modal -->
											<div class="modal fade" id="whyWill" tabindex="-1" role="dialog" aria-labelledby="whyWillLabel" aria-hidden="true" style="color:black;">
											  <div class="modal-dialog" role="document">
											    <div class="modal-content">
											      <div class="modal-header">
											        <h4 class="modal-title" style="color:black;" id="whyWillLabel"><i>Why do you need a Will?</i></h4>
											      </div>
											      <div class="modal-body">
															<p>
																The general purpose for a will is to document your intentions for the disposition of your property
																after your death. And, if applicable to your situation, your will may provide for the care,
																maintenance, and support of any minor aged beneficiaries.
															</p>
															<p>
																A will provides you with a variety of benefits and advantages. The statute of descent and
																distribution (intestacy) may not match your actual intentions for the disposition of your property.
																Costs for administering an intestate estate may be significantly higher than independent
																administration as directed by you through your will. Also, your will permits you to nominate
																suitable executors and alternates. Again, if applicable to your situation, a will allows you to
																provide for and make necessary arrangements for your minor children. And for some, a will
																allows you to minimize federal and state estate tax liability.
															</p>
															<p>
																Set an appointment today.
															</p>
											      </div>
											      <div class="modal-footer">
											        <button type="button" class="button primary icon" data-dismiss="modal">Close</button>
											      </div>
											    </div>
											  </div>
											</div>
										<li><h4 style="text-align:left"><a target="_blank" style="cursor: pointer;" data-toggle="modal" data-target="#estateWill"><i>What are some common misconceptions for not having a Will or for failing to have an estate plan?</i></a></h4>

											<!-- Modal -->
											<div class="modal fade" id="estateWill" tabindex="-1" role="dialog" aria-labelledby="estateWillLabel" aria-hidden="true" style="color:black;">
											  <div class="modal-dialog" role="document">
											    <div class="modal-content">
											      <div class="modal-header">
											        <h4 class="modal-title" style="color:black;" id="estateWillLabel"><i>What are some common misconceptions for not having a Will or for failing to have an estate plan?</i></h4>
											      </div>
											      <div class="modal-body">
															<p>
																There are several misconceptions for not having Will or failing to have an estate plan including
																advance directives. Generally, the common misconceptions are:
															</p>
															<ul>
																<li>I do not need a Will because I have no valuable property.</li>
																<li>I do not need a Will because someone has a power of attorney for me.</li>
																<li>Probate takes years to complete and costs too much.</li>
																<li>I need a living trust.</li>
															</ul>
															<p>
																Set an appointment today and we can discuss various documents suitable for your situation.
																Professionally prepared documents can alleviate your concerns and perpetuate your desires about
																the disposition of property after your death and document your critical decisions in the event of
																you incapacity or terminal illness.
															</p>
											      </div>
											      <div class="modal-footer">
											        <button type="button" class="button primary icon" data-dismiss="modal">Close</button>
											      </div>
											    </div>
											  </div>
											</div>
										<li><h4 style="text-align:left"><a style="cursor: pointer;" target="_blank" data-toggle="modal" data-target="#probateAsset"><i>What are probate and non-probate assets?</i></a></h4>

											<!-- Modal -->
											<div class="modal fade" id="probateAsset" tabindex="-1" role="dialog" aria-labelledby="probateAssetLabel" aria-hidden="true" style="color:black;">
											  <div class="modal-dialog" role="document">
											    <div class="modal-content">
											      <div class="modal-header">
											        <h4 class="modal-title" style="color:black;" id="probateAssetLabel"><i>What are probate and non-probate asset?</i></h4>
											      </div>
											      <div class="modal-body">
															<p>
																When considering the disposition of your assets at death you should know what assets are
																probate assets and what are non-probate assets. Non-probate assets include:
															</p>
															<ul>
																<li>Life insurance payable to a beneficiary other than your estate.</li>
																<li>Retirement plans payable to a beneficiary other than your estate.</li>
																<li>Property held as joint tenant with right of survivorship, such as, bank accounts and
																brokerage accounts.</li>
																<li>Assets placed in trusts prior to your death.</li>
															</ul>
															<p>
																Probate assets include:
															</p>
															<ul>
																<li>Property <u>not held</u> as joint tenants with right of survivorship, such as,</li>
																	<ul>
																		<li>Real property</li>
																		<li>Stocks and bonds</li>
																		<li>Bank accounts, notes, and cash</li>
																		<li>Jointly owned property</li>
																	</ul>
																<li>Generally, personal property possessed at the time of death.</li>
															</ul>
															<p>
																Knowing the appropriate identification of your assets will assist in developing your estate plan.
															</p>
											      </div>
											      <div class="modal-footer">
											        <button type="button" class="button primary icon" data-dismiss="modal">Close</button>
											      </div>
											    </div>
											  </div>
											</div>
											<li><h4 style="text-align:left"><a style="cursor: pointer;" target="_blank" data-toggle="modal" data-target="#willEx"><i>What should you do with your will after execution?</i></a></h4>

												<!-- Modal -->
												<div class="modal fade" id="willEx" tabindex="-1" role="dialog" aria-labelledby="willExLabel" aria-hidden="true" style="color:black;">
												  <div class="modal-dialog" role="document">
												    <div class="modal-content">
												      <div class="modal-header">
												        <h4 class="modal-title" style="color:black;" id="willExLabel"><i>What should you do with your will after execution?</i></h4>
												      </div>
												      <div class="modal-body">
																<p>
																	Nothing, besides storing it in a safe and secured location accessible to your executor. Following
																	execution, don't write on your will. Changes to your will should be done properly and with the
																	advice of an attorney. Many states, including Texas, disregard line-outs on a will. Line-outs or
																	other handwritten edits to your will could result in costly court hearings to discern your intent
																	regarding the disposition of your property or the designation of an executor, trustee, or guardian.
																	In certain circumstances, your edits, line-outs, or other markings on your will could serve to void
																	all or part of your will.
																</p>
																<p>
																	Store your will with your other important documents. Remember, a safety deposit box provides
																	safety, but may be sealed upon your death, requiring your executor to obtain a court order to
																	open it. Note, only your original will can be offered for probate.
																</p>
												      </div>
												      <div class="modal-footer">
												        <button type="button" class="button primary icon" data-dismiss="modal">Close</button>
												      </div>
												    </div>
												  </div>
												</div>
									</ul>
									<h3 style="text-align: center;"> <u>Blog-Employment Information </u></h3>
									<ul>
										<li><h4 style="text-align:left">
											<a style="cursor: pointer;" target="_blank" data-toggle="modal" data-target="#rightWork"><i>What does the term “right-to-work” mean?</i></a>
										</h4>
											<!-- Modal -->
											<div class="modal fade" id="rightWork" tabindex="-1" role="dialog" aria-labelledby="rightWorkLabel" aria-hidden="true" style="color:black;">
												<div class="modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<h4 class="modal-title" style="color:black;" id="rightWorkLabel"><i>What does the term “right-to-work” mean?</i></h4>
														</div>
														<div class="modal-body">
															<p>
																This term means a person cannot be denied employment because of membership or non-
																membership in a labor union or other labor organization. Texas is a right to work state. See <i>Tex.
																Labor Code Ann.</i> sections 101.001et al.
															</p>
															<p>
																Texas laws protect employees from threats, force, intimidation, or coercion for choosing to either
																participate or not participate in a union. In other words, the choice of whether to join a labor
																union rests with the employee. Employees may not be required to join or pay dues to a union as a
																condition of employment, nor may an employee be denied employment for joining a union.
															</p>
															<p>
																The right-to-work laws do not apply to most, if not all, federal workplaces. Although, the
																existence of certain factors may result in the application of Texas’s right-to-work law to a federal
																enclave within state boundaries.
															</p>
															<p>
																Other terms common to a discussion concerning right-to-work include “union shop” and “agency
																shop.” Union shop refers to the situation where workers must pay for union representation,
																usually through union dues, to obtain or retain their job. Agency shop refers to the situation
																where employees pay their share for union representation, usually an amount less than union
																dues.
															</p>
														</div>
														<div class="modal-footer">
															<button type="button" class="button primary icon" data-dismiss="modal">Close</button>
														</div>
													</div>
												</div>
											</div>

									</ul>
									<!--

									<div class="features">
									<section>
										<span class="icon major fa-code"></span>
										<h3>Lorem ipsum amet</h3>
										<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
									</section>
									<section>
										<span class="icon major fa-lock"></span>
										<h3>Aliquam sed nullam</h3>
										<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
									</section>
									<section>
										<span class="icon major fa-cog"></span>
										<h3>Sed erat ullam corper</h3>
										<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
									</section>
									<section>
										<span class="icon major fa-desktop"></span>
										<h3>Veroeros quis lorem</h3>
										<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
									</section>
									<section>
										<span class="icon major fa-chain"></span>
										<h3>Urna quis bibendum</h3>
										<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
									</section>
									<section>
										<span class="icon major fa-diamond"></span>
										<h3>Aliquam urna dapibus</h3>
										<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
									</section>
								</div>	-->
							</div>
						</section>


				<!-- contact-us -->
					<section id="contact-me" class="wrapper style3 fade-up" style="color:white;">
						<div class="inner">
							<h2>Contact</h2>
							<p>New Office Location</p>
							<div class="split style1">
								<section>
									<div id="map"></div>
								</section>

								<section>
									<ul class="contact">
										<li>
											<h3>Address</h3>
											<span>11122 Wurzbach Rd., Suite 100<br />
											San Antonio, TX 78230</span>
										</li>
										<li>
											<h3>Email</h3>
											<a href="mailto:bud.glavy@glavylaw.com">bud.glavy@glavylaw.com</a>
										</li>
										<li>
											<h3>Phone</h3>
											<span><a href="tel:+12108801777">210-880-1777</a></span>
										</li>
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
												<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
												<li><a href="#" class="fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="#" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
							<section>
								<%= image_tag("exact-office.png", :style => "width: 100%;position: relative;width:60%") %>
							</section>
						</div>
					</section>
					<section id="new-client" class="wrapper style3 fade-up" style="color:white;">
						<div class="inner">
							<h2>New Client Forms</h2>
							<p>Click to print out the forms below.</p>
							<ul class="contact">
								<li>
									<%= link_to "CLIENT INTAKE INFORMATION - Civil Employment Law", "https://drive.google.com/file/d/1G4vanIlIcEpaCmQieOiBaOY4PgCxTN0tfzDOhG9xZH4/preview", target: :_blank%>
								</li>
								<li>
									<%= link_to "CLIENT INTAKE INFORMATION - Civil Non-Employment Law", "https://drive.google.com/file/d/1oQ4gLCFmaInpCMz47BGFloMtVjRqOuSzKf3m7DHg55I/preview", target: :_blank%>
								</li>
								<li>
									<%= link_to "Basic Will Information", "https://drive.google.com/file/d/1p7JhjlMVKZ5S-E9W6h6kFQVYiP_xA80qfk-T-iDuMiw/preview", target: :_blank%>
								</li>
								<li>
									<%= link_to "Will and Ancillary Document", "https://drive.google.com/file/d/1B5brjssWKK4BpgsjuCIpayVrDZOSPDYn0NuD1TYfvLs/preview", target: :_blank%>
								</li>
								<li>
									<%= link_to "DISCLOSURE AND CONSENT TO JOINT REPRESENTATION", "https://drive.google.com/file/d/17vVAxq0U-7Mkf41RAVgW_Tyc4h0qfxSF7toRYLrZdFY/preview", target: :_blank%>
								</li>
							</ul>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Glavy Law. All rights reserved.</li><li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li><li>Website Developed by: <a href="http://www.gabeolivares.com/" target="_blank">Gabe Olivares</a></li
					</ul>
				</div>
			</footer>
